page-login {
    .loginForm {
        background-color: rgb(223, 219, 219);
        .scroll-content {
            padding: 15px;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
            border: 1px solid whitesmoke;
            border-radius: 5%;
            background-color: white;
            overflow: hidden;
            button {
                margin-top: 15px;
                width: 100%;
            }
        }
        
    }
}
