<ion-header>
    <ion-toolbar>
        <ion-title>Create POI</ion-title>
        <ion-buttons start>
        <button ion-button (click)="modalDismiss()">
            <span ion-text color="primary" showWhen="ios">Cancel</span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="createPoiForm">
        <ion-item>
            <ion-label>Title</ion-label>
            <ion-input formControlName="title" type="text" [(ngModel)]="title"></ion-input>
        </ion-item>
        <ion-item *ngIf="!createPoiForm.controls.title.valid  && (createPoiForm.controls.title.dirty)">
            <p>Please enter a valid title.</p>
        </ion-item>
        <ion-item>
            <ion-label>Latitude</ion-label>
            <ion-input formControlName="lat" type="text" [(ngModel)]="lat"></ion-input>
        </ion-item>
        <ion-item *ngIf="!createPoiForm.controls.lat.valid  && (createPoiForm.controls.lat.dirty)">
            <p>Please enter a valid latitude.</p>
        </ion-item>
        <ion-item>
            <ion-label>Longitude</ion-label>
            <ion-input formControlName="lon" type="text" [(ngModel)]="lon"></ion-input>
        </ion-item>
        <ion-item *ngIf="!createPoiForm.controls.lon.valid  && (createPoiForm.controls.lon.dirty)">
            <p>Please enter a valid longitude.</p>
        </ion-item>
        <ion-item>
            <ion-label>Do you want this POI as example?</ion-label>
            <ion-input formControlName="isPreview" type="checkbox" [(ngModel)]="isPreview">Yes</ion-input>
        </ion-item>
        <ion-item>
            <button ion-button icon-left (click)="takePicture()">
                <ion-icon name="camera"></ion-icon>
                Select Image
            </button> {{pictureName}}
        </ion-item>
        <ion-item *ngIf="!createPoiForm.controls.image.valid  && (createPoiForm.controls.image.dirty)">
            <p>Please enter a valid image.</p>
        </ion-item>
    </form>
    <button ion-button color="primary" full (click)="createPoi()">Create POI</button>
</ion-content>