page-myguides {
    ul {
        list-style: none;
        margin-left: -50px;
    }

    li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0 10px 0;
        img {
            width: 25%;
            height: 25%;
            margin: 0;
            flex-shrink: 1;
        }

        .info {
            flex-shrink: 2;
        }

        .accordion {
            margin-left: 40px;
            width: 100%;
        }

        &:nth-child(odd) {
            background-color: limegreen
        }
        &:nth-child(even) {
            background-color: green
        }
        
    }
}
