<ion-header>
  <ion-navbar>
    <ion-searchbar placeholder="{{ 'home.search' | translate }}" type="text" spellcheck="true" (ionInput)="searchAudioguides($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <h3>{{ 'home.welcome' | translate }}</h3>
  <h6>{{ 'home.description' | translate }}</h6>

  <div class="combos">
    <locations-dropdown (idLocationEvent)="getAudioguides($event)"></locations-dropdown>
  </div>

  <div *ngIf="audioguides?.length < 1">
    <hr>
    <p>
      {{'home.noresults' | translate}}
    </p>
  </div>

  <ion-list no-lines>
    <ion-item *ngFor="let audioguide of audioguides" (click)="viewGuide(audioguide.$key)">
      <ion-thumbnail item-start class="thumbnail">
        <img src="{{audioguide.imageUrl}}"/>
      </ion-thumbnail>
      <h2>{{ audioguide.title }}</h2>
      <p>
        {{ 'home.pois' | translate }}{{audioguide.pois}}
      </p>
      <p>
        {{ 'home.duration' | translate }}{{audioguide.duration}} mins
      </p>
      <p>
        {{ 'home.price' | translate }}{{audioguide.price | currency}}
      </p>
    </ion-item>
  </ion-list>

</ion-content>
