<ion-header>
  <ion-navbar>
    <ion-searchbar placeholder="{{ 'home.search' | translate }}" type="text" spellcheck="true" (ionInput)="searchAudioguides($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <h3>{{ 'home.welcome' | translate }}</h3>
  <h6>{{ 'home.description' | translate }}</h6>

  <div class="combos">

    <ion-list no-lines>
      <ion-item>
        <ion-label>{{ 'home.country' | translate }}</ion-label>
        <ion-select (ionChange)="getLocations($event)">
          <ion-option value="{{country.$key}}" *ngFor="let country of countries | async" >
            <ng-container *ngFor="let language of country.language">
              <ng-container *ngIf="language.code === lang">{{ language.name }}</ng-container>
            </ng-container>
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list no-lines>
      <ion-item>
        <ion-label>{{ 'home.place' | translate }}</ion-label>
        <ion-select (ionChange)="getGuides($event)" [disabled]="placesDisabled">
            <ion-option value="{{location.$key}}" *ngFor="let location of locations | async" >
              <ng-container *ngFor="let language of location.language">
                <ng-container *ngIf="language.code === lang">{{ language.name }}</ng-container>
              </ng-container>
            </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="audioguidesSearched?.length > 0">
    <ion-list no-lines>
      <ion-item *ngFor="let audioguide of audioguidesSearched" (click)="viewGuide(audioguide.$key)">
        <ion-thumbnail item-start class="thumbnail">
          <img src="{{audioguide.image}}"/>
        </ion-thumbnail>
        <h2>{{ audioguide.title }}</h2>
        <p>
          {{ 'home.pois' | translate }}{{audioguide.pois}}
        </p>
        <p>
          {{ 'home.duration' | translate }}{{audioguide.duration}} mins
        </p>
        <p>
          {{ 'home.price' | translate }}{{audioguide.price | currency}}
        </p>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="audioguidesSearched?.length < 1"  [hidden]="isSearched">
    <hr>
    <p>
      {{'home.noresults' | translate}}
    </p>
  </div>

  <div [hidden]="!isSearched">
    <ion-list no-lines>
      <ion-item *ngFor="let audioguide of audioguides | async" (click)="viewGuide(audioguide.$key)">
        <ion-thumbnail item-start class="thumbnail">
          <img src="{{audioguide.image}}"/>
        </ion-thumbnail>
        <h2>{{ audioguide.title }}</h2>
        <p>
          {{ 'home.pois' | translate }}{{audioguide.pois}}
        </p>
        <p>
          {{ 'home.duration' | translate }}{{audioguide.duration}} mins
        </p>
        <p>
          {{ 'home.price' | translate }}{{audioguide.price | currency}}
        </p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
