<ion-header>
  <ion-navbar>
    <ion-searchbar placeholder="{{ 'home.search' | translate }}" type="text" spellcheck="true" (ionInput)="searchLocations($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <h1>{{ 'home.welcome' | translate }}</h1>
  <locations-dropdown (idLocationEvent)="getLocations($event)"></locations-dropdown>

  <div *ngIf="locations?.length < 1">
    <p>
      {{'home.noresults' | translate}}
    </p>
  </div>
  <!-- <ion-list no-lines>
    <ion-item *ngFor="let audioguide of audioguides" (click)="viewGuide(audioguide)">
      <ion-thumbnail item-start class="thumbnail">
        <img src="{{audioguide.imageUrl}}"/>
      </ion-thumbnail>
      <h2>{{ audioguide.title }}</h2>
      <p>
        {{ 'home.pois' | translate }}{{audioguide.pois}}
      </p>
      <p>
        {{ 'home.duration' | translate }}{{audioguide.duration}} mins
      </p>
      <p>
        {{ 'home.price' | translate }}{{audioguide.price | currency}}
      </p>
    </ion-item>
  </ion-list> -->

  <div *ngFor="let location of locations" class="location-card" (click)="openLocation(location)">
    <img src="{{location.imageUrl}}" class="location-card-image">
    <div class="location-card-content">     
      <h1>
        {{location.locationName}}, {{location.countryName}}
      </h1>
      <p>{{location.numberOfAudioguides}} audioguide<span *ngIf="location.numberOfAudioguides > 1">s</span></p>
    </div>
  </div>
</ion-content>
