<ul>
  <li *ngFor="let item of elements">
    <img src="{{item.imageUrl}}" alt=" ">
    <div>
      <h3>{{item.title}}</h3>
      <p>{{'home.duration' | translate}}{{item.duration}}</p>
      <p>{{'guides.size' | translate}}{{item.size}}</p>
    </div>
    <ion-icon name="play" item-end *ngIf="item.isPreview && !isPlaying" (click)="listen(item.file)"></ion-icon>
    <ion-icon name="pause" item-end *ngIf="item.isPreview && isPlaying" (click)="pause()"></ion-icon>
    <ion-icon name="square" item-end *ngIf="item.isPreview && isPlaying" (click)="stop()"></ion-icon>
  </li>
</ul>
